/* Contact.css */
.contact-link {
    color: #83a598; /* Example color */
    text-decoration: none; /* Remove underline */
  }
  
  .contact-link:hover {
    text-decoration: underline; /* Underline on hover */
    color:#ebdbb2
  }

  h5 {
    text-align: center;
    font-size: 16px;
    color: #d79921
    }

  .margin-left-git {
    margin-left: -141px;
  }

  .margin-left-linkedin {
    margin-left: -50px;
  }

  .margin-left-leet {
    margin-left: -124px;
  }
